version: '3.8'
name: europen
services:
  server:
    build: .
    image: reg.istry.cz/europen/ondrejsika/server:1
    platform: linux/amd64
    ports:
      - ${PORT:-8000}:8000
    environment:
      REDIS_HOST: redis
  redis:
    image: redis:7
    volumes:
      - redis-data:/data
volumes:
  redis-data:
